<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/Question/styles.css">
</head>
<body>
	{{> /include/Navigation/index}}
	<div class="Container">
		{{#question}}
		<h2>Question</h2>
		<hr>
		<span>{{title}}</span> <span>{{writer}}</span>
		<hr>
		<div class="contents">{{contents}}</div>

		<div class="buttonContainer">
			<a id="editbutton1" href="/questions/edit/{{id}}"> <span
				class="submitButton">Edit</span>
			</a> <a id="editbutton1" href="/questions/delete/{{id}}"> <span
				class="submitButton">delete</span>
			</a>

		</div>

		<div class="comments__action">
			<form class="comments__form" action="/reply/create/{{id}}" method="post">
				<input type="text" class="comments__form__text" name="contents" placeholder="comments..." value="">
				<input type="submit" class="comments__form__submit" name="" value="submit">
			</form>
		</div>


		
		
		{{#replys}}
		<div class="comments">
			<div class="comments__row">
				<span id="first">{{user.id}}</span> <span id="second">{{contents}}</span> <a
					id="third" href="#"> <span class="submitButton">Edit</span>
				</a> <a href="#"> <span class="submitButton">Delete</span>
				</a>
			</div>
		</div>
		{{/replys}}
		{{/question}}
	</div>
</body>
</html>
