@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed");

body {
  background-color: #fafafa;
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 80px;
}

.logo a {
  font-size: 70px;
  font-weight: 600;
  font-family: "Encode Sans Condensed", sans-serif;
  color: black;
  text-decoration: none;
}

.navbar .sign a {
  text-decoration: none;
  color: black;
  font-family: "Encode Sans Condensed", sans-serif;
}

.icon {
  margin-top: 10px;
  float: right;
}

.icon i {
  font-size: 20px;
  color: black;
}

.icon a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writingForm {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.writingForm input {
  border: 0px;
  margin-bottom: 15px;
}

.writingForm textarea {
  border: 0px;
  margin-bottom: 15px;
}

.writingForm .button {
  background-color: #848587;
  color: white;
  font-weight: 600;
  border-radius: 9px;
}
